.Body {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: system-ui;
	color: white;
	background-color: black;
}

.MainColumn {
	display: flex;
	padding: 1em;
	width: 100%;
	flex-direction: column;
}

.MainColumn a {
	text-decoration: underline;
	color: #252525;
}

.CvName {
	font-size: 2em;
	font-weight: bold;
}

.CvSummaryLocation {
	margin: 0 0 2em 0;
}

.CvSummary {
	font-size: 1.25em;
}

.CvLocation {
	color: #AAA;
}

.SummaryBlock {
	margin: 0 0 4em 0;
}

.ExperienceTitle,
.SummaryTitle {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0.5em 0;
}

.ExperienceBlock {
	display: flex;
	width: calc(100% - 2em);
	flex-wrap: wrap;
	border-top: 1px solid #CCC;
	background-color: beige;
    padding: 1em;
    margin: 1em 0;
    border-radius: 1.5em;
    color: #252525;
    justify-content: center;
}

.GameDescription {
	flex-grow: 0.5;
}

.VideoContainer {
	display: flex;
	flex-grow: 0.5;
	justify-content: right;
}

.GameName {
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 1em 0;
}

.GamePlatforms {
	margin: 1em 0;
}

.GameEngine {
	margin: 1em 0;
}

.GameText {
	margin: 1em 0;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    max-width: 600px;
}







