.Body {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: system-ui;
	color: white;
	background-color: #242424;
}

.MainColumn {
	display: flex;
	padding: 1em;
	width: 100%;
	flex-direction: column;
}

.MainColumn a {
	text-decoration: underline;
	color: #252525;
    display: inline-flex;
    align-items: center;
    margin: 0 1em 0 0;
}

.GameEngine {
	display: inline-flex;
	align-items: center;
}

.CvName {
	font-size: 2em;
	font-weight: bold;
}

.CvSummaryLocation {
	margin: 0 0 2em 0;
}

.CvSummary {
	font-size: 1.25em;
}

.CvLocation {
	color: #AAA;
}

.SummaryBlock {
	margin: 0 0 4em 0;
}

.ExperienceTitle,
.SummaryTitle {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0.5em 0;
}

.ExperienceBlock {
	display: flex;
	width: calc(100% - 2em);
	flex-wrap: wrap;
	border-top: 1px solid #CCC;
	background-color: beige;
    padding: 1em;
    margin: 1em 0;
    border-radius: 1.5em;
    color: #252525;
    justify-content: center;
}

.GameDescription {
	flex-grow: 0.5;
}

.VideoContainer {
	display: flex;
	flex-grow: 0.5;
	justify-content: right;
}

.GameName {
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 1em 0;
}

.GamePlatforms {
	margin: 1em 0;
}

.GameEngine {
	margin: 1em 0;
}

.GameText {
	margin: 1em 0;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    max-width: 600px;
}

.Icon {
	display: inline-flex;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.5em;
	border-radius: 4px;
}

.IconSteam {
	background-image: url('../images/steam.svg');
}

.IconPS {
	background-image: url('../images/PS.jpg');
}

.IconSwitch {
	background-image: url('../images/switch.png');
}

.IconXBOX {
	background-image: url('../images/xbox.png');
}

.IconAndroid {
	background-image: url('../images/android.png');
}

.IconAirconsole {
	background-image: url('../images/airconsole.jpg');
}

.IconIOS {
	background-image: url('../images/ios.jpg');
	border-radius: 1024px;
}

.IconUnity {
	background-image: url('../images/unity.png');
}

.IconUnreal {
	background-image: url('../images/unreal.jpg');
}

